<a href="https://colab.research.google.com/github/andrewhuangx/HHA504_E2E_FinalAssignment/blob/main/E2E_Final_Assignment_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Install Packages

In [1]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 990 kB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [3]:
pip install cryptography

Collecting cryptography
  Downloading cryptography-36.0.0-cp36-abi3-manylinux_2_24_x86_64.whl (3.6 MB)
     |████████████████████████████████| 3.6 MB 7.5 MB/s
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography) (2.21)
Installing collected packages: cryptography
Successfully installed cryptography-36.0.0

In [4]:
!pip install cryptography

Requirement already satisfied: cryptography in /usr/local/lib/python3.7/dist-packages (36.0.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography) (2.21)

## Connect to SQL Instance

In [5]:
MYSQL_HOSTNAME = '52.168.141.66'
MYSQL_USER = 'dba'
MYSQL_PASSWORD = 'ahi2021'
MYSQL_DATABASE = 'e2e'

In [6]:
connection_string = f'mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOSTNAME}:3306/{MYSQL_DATABASE}'
engine = create_engine(connection_string)

In [7]:
print (engine.table_names)

<bound method Engine.table_names of Engine(mysql+pymysql://dba:***@52.168.141.66:3306/e2e)>

## Load CSV

In [8]:
csvfile = pd.read_csv('https://raw.githubusercontent.com/andrewhuangx/HHA504_E2E_FinalAssignment/main/H1N1_Flu_Vaccines.csv')

In [9]:
csvfile

       respondent_id  h1n1_concern  ...  h1n1_vaccine  seasonal_vaccine
0                  0           1.0  ...             0                 0
1                  1           3.0  ...             0                 1
2                  2           1.0  ...             0                 0
3                  3           1.0  ...             0                 1
4                  4           2.0  ...             0                 0
...              ...           ...  ...           ...               ...
26702          26702           2.0  ...             0                 0
26703          26703           1.0  ...             0                 0
26704          26704           2.0  ...             0                 1
26705          26705           1.0  ...             0                 0
26706          26706           0.0  ...             0                 0

[26707 rows x 38 columns]

## Upload CSV to MySQL Database

In [10]:
csvfile = pd.read_csv('https://raw.githubusercontent.com/andrewhuangx/HHA504_E2E_FinalAssignment/main/H1N1_Flu_Vaccines.csv')

In [11]:
TABLENAME = 'H1N1'

In [12]:
csvfile.to_sql(TABLENAME, con=engine, if_exists='append')